<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pets 2</title>
</head>
<body>

<form method="post" action="#" class="form-horizontal">

    <label for="color">Select a Color</label>
    <check if="{{ isset(@errors['color']) }} ">
        <p>{{ @errors['color'] }}</p>
    </check>
    <select class="form-control" name="color" id="color">
        <option>--Select a color</option>
        <repeat group="{{ @colors}}" value="{{ @colorOption}}">
            <option>{{ @colorOption}}</option>
        </repeat>
    </select>
    <!--<select class="form-control" id="color" name="color">
        <option value="none">Select a color</option>
        <option value="white">White</option>
        <option value="black">Black</option>
        <option value="pink">Pink</option>
    </select>-->
    <div>
        <label for="name">Animal Name
            <input type="text" name="name" id="name">
        </label>
    </div>
    </div>


    <button type="submit">Next>></button>
</form>
</body>
</html>